@charset "utf-8";
@charset "utf-8";
/* CSS Document */

p {
	color:#5971BD;
}
h2{
	color:#1F14AC;
}

h3 {
	color:#FF9400;
}

h1 {
	color:#FF9400;
	text-align:center;
	position:absolute;
}

.jumbotron {
	text-align:center;
	font-family:Arial;
	display:inline-block;
	height:5%;
	margin-left:5%;
		margin-right:5%;
	
}

.footer{
	background-color:#066C91;
	color:#FFFFFF;
	text-align:center;
	position:fixed;
}

.container{
	background-color:white;
	width:90%;
}

a {
	color:#FFFFFF;
}

a.hover{
	color:FF7B07;
	background-color:white;
	
}

.intro-message{
	background-image:none;
	background-color:white;
	
}

li{
	color:white;

}/* CSS Document */

